<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-body">
    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Связаться с поддержкой
      </button>
    </div>

    <br />
    <% if (locals.user) { %>
    <span class="name"><%= user.email %> </span>
    <a class="btn btn-outline-success" href="/logout">Выйти</a>
    <% } else { %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        Войти
      </button>
    </div>
    <br />
    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#register"
      >
        Зарегистрироваться
      </button>
    </div>
  </div>
  <% } %> <%- include ('./menu') %>
</div>
