<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-body">
    <% switch (currentPath) { case "/diplommo": %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        onclick="window.location.href = '/catalog';"
      >
        Каталог примеров работ
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">Сделать заказ</button>
    </div>
    <div>
      <button type="button" class="btn btn-light">Регистрация</button>
    </div>
    <% break; case "/catalog": %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        onclick="window.location.href = '/diplommo';"
      >
        Главная страница
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">Сделать заказ</button>
    </div>
    <div>
      <button type="button" class="btn btn-light">Регистрация</button>
    </div>
    <% break; case "/registr": %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        onclick="window.location.href = '/diplommo';"
      >
        Главная страница
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-light"
        onclick="window.location.href = '/catalog';"
      >
        Каталог примеров работ
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">Сделать заказ</button>
    </div>
    <% break; case "/order": %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        onclick="window.location.href = '/diplommo';"
      >
        Главная страница
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-light"
        onclick="window.location.href = '/catalog';"
      >
        Каталог примеров работ
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-light">Регистрация</button>
    </div>
    <% break; default: break; } %>

    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Связаться с нами
      </button>
    </div>
  </div>
</div>
