<div class="dropdown">
  <button
    class="btn btn-success dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    меню
  </button>
  <ul class="dropdown-menu">
    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Связаться с поддержкой
      </button>
    </div>

    <br />
    <% if (locals.user) { %>
    <a class="btn btn-light" href="/logout">Выйти</a>
    <% } else { %>
    <div>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        Войти
      </button>
    </div>
    <br />
    <% } %>
  </ul>
</div>
