<div class="card">
  <div class="card-header">
    <h5>Приветствуем Вас на сайте магазина-студии анимаций Аниматор!</h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Добро пожаловать на наш сайт! Мы — небольшая студия-магазин, которая
        специализируется на создании анимаций на заказ. Если вы хотите оживить
        свой бренд, привлечь внимание аудитории или просто порадовать себя
        чем-то новым и необычным, то вы попали по адресу.
        <br />
        <br />
        Наша команда состоит из талантливых художников и аниматоров, которые
        готовы воплотить ваши идеи в жизнь. Мы работаем с различными форматами и
        стилями, чтобы каждый клиент мог получить именно то, что ему нужно.
        <br />
        <br />
        На нашем сайте вы найдете примеры наших работ, информацию о ценах и
        сроках выполнения заказов. Также мы всегда открыты для общения и готовы
        ответить на все ваши вопросы.
        <br />
        <br />
        Спасибо за интерес к нашей студии! Мы надеемся на плодотворное
        сотрудничество!
      </p>
    </blockquote>
  </div>
</div>
