<form
  action="/upload"
  ``
  method="POST"
  id="uploadForm"
  enctype="multipart/form-data"
>
  <label for="File">File: </label>
  <input type="file" name="avatar" id="fil" />
  <br />
  <input type="submit" value="Upload File" />
</form>
