<% if (typeof post !== 'undefined') { %>
<div
  class="modal fade"
  id="edit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Введите текст</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/posts/edit/<%= post.id %>"
          class="container"
          method="post"
        >
          <div class="row my-3">
            <div class="col-sm-4 col-12">
              <div class="form-floating mb-3">
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="Title"
                  value="<%= post.title %>"
                />
                <label for="title">Введите новое название поста</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  name="body"
                  id="body"
                  placeholder="Content"
                >
        <%= post.body %></textarea
                >
                <label for="body">Введите новое содержание поста</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% } else { %>
<div
  class="modal fade"
  id="edit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Введите текст</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="name">Имя:</label>
          <input type="text" id="name" name="name" required /><br /><br />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required /><br /><br />

          <label for="message">Текст:</label>
          <textarea
            id="message"
            name="message"
            rows="8"
            cols="25"
            required
          ></textarea
          ><br /><br />

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Отмена
            </button>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% } %>
