<footer>
  <div class="card text-center">
    <div class="card-header">Магазин-студия "Аниматор"</div>
    <div class="card-body">
      <h5 class="card-title">Вы можете обратиться к нам в социальных сетях:</h5>
      <p class="card-text">
        <p class="d-inline-flex gap-1">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#telegram"
            >
              <h5>
                <i class="fa-brands fa-telegram"></i>
              </h5>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#whatsapp"
            >
              <h5>
                <i class="fa-brands fa-whatsapp"></i>
              </h5>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#vk"
            >
              <h5>
                <i class="fa-brands fa-vk"> </i>
              </h5>
            </button>
          </p>
      </p>
    </div>
  </div>
</footer>
<div
  class="modal fade"
  id="telegram"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Telegram</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card card-body">
          <p>Telegram:</p>
          <p>@DimaHima</p>
          <p>t.me/DimaHima</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="vk"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">VK</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card card-body">
          <p>Vkontakte:</p>
          <p>@khimchik</p>
          <p>vk.com/khimchik</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="whatsapp"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">WhatsApp</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card card-body">
          <p>WhatsApp:</p>
          <p>+7(996)771-37-21</p>
        </div>
      </div>
    </div>
  </div>
</div>
