<header class="head">
  <div>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      menu
    </button>
    <%- include('canvas'); -%>
  </div>
  <div class="logo">
    <h1 class="card-title">
      <span class="">BWP</span>
    </h1>
  </div>
</header>
