<div
  class="modal fade"
  id="login"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Форма входа</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/login" class="container" method="post">
          <div class="row my-3">
            <div class="form-floating mb-3">
              <input
                name="loginForm[email]"
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput" style="margin-left: 15px"
                >Введите адрес электронной почты</label
              >
            </div>
          </div>
          <div class="row my-3">
            <div class="form-floating">
              <input
                name="loginForm[password]"
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="password"
              />
              <label for="floatingPassword" style="margin-left: 15px"
                >Введите пароль</label
              >
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <button type="submit" class="btn btn-success">Войти</button>
            </div>
          </div>
        </form>
        <div>
          <button
            type="button"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#register"
          >
            Зарегистрироваться на сайте
          </button>
        </div>
        <div style="margin: 15px">Войти через социальные сети:</div>
        <%- include('./social'); -%>
      </div>
    </div>
  </div>
</div>
<script>
  function validateForm() {
    let email = document.getElementById("floatingInput").value;
    let password = document.getElementById("floatingPassword").value;

    if (email.indexOf("@") == -1) {
      document.getElementById("errorMessage").style.display = "block";
      document.getElementById("errorMessage").innerHTML = "Некорректный email";
      return false;
    }

    if (password.length < 8) {
      document.getElementById("errorMessage").style.display = "block";
      document.getElementById("errorMessage").innerHTML =
        "Пароль должен быть не менее 8 символов";
      return false;
    }

    return true;
  }
</script>
