<div
  class="modal fade"
  id="social"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Форма входа</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          style="
            margin-left: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
          "
        >
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <a href="/auth/yandex">
                  <button class="btn btn-success">
                    <i class="fa-brands fa-yandex"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <a href="/auth/google">
                  <button class="btn btn-success">
                    <i class="fa-brands fa-google"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <a href="/auth/vkontakte">
                  <button class="btn btn-success">
                    <i class="fa-brands fa-vk"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#login"
          >
            Вернуться
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
