<div style="display: flex; align-items: center; justify-content: space-around">
  <div class="row my-3">
    <div class="col-sm-6 col-12">
      <div class="form-floating">
        <a href="/auth/yandex">
          <button class="btn btn-success" style="width: 100px">
            <i class="fa-brands fa-yandex"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-6 col-12">
      <div class="form-floating">
        <a href="/auth/google">
          <button class="btn btn-success" style="width: 100px">
            <i class="fa-brands fa-google"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-6 col-12">
      <div class="form-floating">
        <a href="/auth/vkontakte">
          <button class="btn btn-success" style="width: 100px">
            <i class="fa-brands fa-vk"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
