<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/bootstrap.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <title>Вход</title>
  </head>
  <body>
    <h1 class="text-center">Форма входа</h1>
    <form action="/login" class="container" method="post">
      <div class="row my-3">
        <div class="col-sm-4 col-12">
          <div class="form-floating mb-3">
            <input
              name="loginForm[email]"
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Введите адрес электронной почты</label>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6 col-12">
          <div class="form-floating">
            <input
              name="loginForm[password]"
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="password"
            />
            <label for="floatingPassword">Введите пароль</label>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6 col-12">
          <button type="submit" class="btn btn-success">Войти</button>
        </div>
      </div>
    </form>
    <div
      style="
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      "
    >
      <div class="row my-3">
        <div class="col-sm-6 col-12">
          <div class="form-floating">
            <a href="/auth/yandex">
              <button class="btn btn-success">
                <i class="fa-brands fa-yandex"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6 col-12">
          <div class="form-floating">
            <a href="/auth/google">
              <button class="btn btn-success">
                <i class="fa-brands fa-google"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6 col-12">
          <div class="form-floating">
            <a href="/auth/github">
              <button class="btn btn-success">
                <i class="fa-brands fa-square-github"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6 col-12">
          <div class="form-floating">
            <a href="/auth/vkontakte">
              <button class="btn btn-success">
                <i class="fa-brands fa-vk"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
